<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="{global.baseUrl}" />

  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css" />
  <title>{head.title} | {global.appName}</title>
</head>
<body>
  <header>
    <a href="/" class="logo">Ordereat</a>
    <ul class="menu">
      <li class="loggedOut"><a href="/account/create">Signup</a></li>
      <li class="loggedOut"><a href="/account/login">Login</a></li>
      <li class="loggedIn"><a href="/account/menu">Pizza Menu</a></li>
      <li class="loggedIn"><a href="/account/cart">Cart</a></li>
      <li id="logout-link" class="loggedIn"><a href="#">Signout</a></li>
    </ul>
  </header>
